<mat-form-field>
    <input matInput [(ngModel)]="newName" placeholder="new name">
</mat-form-field>

<mat-form-field>
    <input matInput [(ngModel)]="newSize" placeholder="new size">
</mat-form-field>

<mat-form-field>
    <input matInput [(ngModel)]="newCountry" placeholder="new country">
</mat-form-field>
<!--
<mat-form-field>
    <input matInput [(ngModel)]="newMaterial" placeholder="new material">
</mat-form-field>
-->

<mat-form-field>
    <input matInput [(ngModel)]="newExteranlDiameter" placeholder="new exteranlDiameter">
</mat-form-field>

<mat-form-field>
    <input matInput [(ngModel)]="newTotalLength" placeholder="new totalLength">
</mat-form-field>
<!--
<mat-form-field>
    <input matInput [(ngModel)]="newBodyLength" placeholder="new bodyLength">
</mat-form-field>
-->
<!--
<mat-form-field>
    <input matInput [(ngModel)]="newStemLength" placeholder="new stemLength">
</mat-form-field>
-->

<mat-form-field>
    <input matInput [(ngModel)]="newTotalCapacity" placeholder="new totalCapacity">
</mat-form-field>




<!--
<mat-form-field>
    <input matInput [(ngModel)]="newAirholeCapacity" placeholder="new airholeCapacity">
</mat-form-field>
-->

<!--
<mat-form-field>
    <input matInput [(ngModel)]="newStemType" placeholder="new stemType">
</mat-form-field>
-->

<!--
<mat-form-field>
    <input matInput [(ngModel)]="newOfficialSite" placeholder="new officialSite">
</mat-form-field>
-->


<button mat-raised-button (click)="updateName()">Save</button>  
<!-- <button mat-raised-button (click)="updateAll()">Save</button> -->